build
build/*
MANIFEST
*.pyc
__pycache__
develop-eggs/
dist/
eggs/
.eggs/
lib/
lib64/
sdist/
wheels/
.cache/
.coverage
htmlcov
*tmp/
*tmp-ck-*/
local/cache/

*tmp-state*
*tmp-run*
*.dockerignore
*Dockerfile.build.*
*Dockerfile.run*
script/app-mlperf-inference/dockerfiles/mlperf-inference:mlpinf-v4.0-cuda12.2-cudnn8.9-x86_64-ubuntu20.04-public.Dockerfile
